<template>
  <v-app>
    <Dialog />

    <v-app-bar
      app
      color="primary"
      dark
    >
      <div class="d-flex align-center">
        <v-img
          alt="Jabar Digital Service Logo"
          class="shrink mr-2"
          contain
          src="https://digitalservice.jabarprov.go.id/wp-content/uploads/2019/11/logo_jds.png"
          transition="scale-transition"
          width="100"
        />
      </div>

      <v-spacer></v-spacer>

      <v-btn
        href="https://digitalservice.jabarprov.go.id/"
        target="_blank"
        text
      >
        <span class="mr-2">Jabar Digital Service</span>
        <v-icon>mdi-open-in-new</v-icon>
      </v-btn>
    </v-app-bar>

    <v-main>
      <router-view/>
    </v-main>
  </v-app>
</template>

<script>
export default {
  name: "App",
  components: {
    Dialog : () => import(/* webpackChunkName: "about" */ './components/Dialog.vue')
  },
};
</script>
